//globl transition css
@import '@renderer/styles/style.scss';
/*fade*/
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

/*themeStyle*/
.default-theme {
  background-color: #26272A;
}
.sky-theme {
  background-color: #4682B4;
}
.hot-theme {
  background-color: #681616;
}
.yummy-theme {
  background-color: #a0770f;
}

.default-theme-der {
  background: $color-default-derived-06;
}
.sky-theme-der {
  background-color: #172330;
}
.hot-theme-der {
  background-color: #221515;
}
.yummy-theme-der {
  background-color: #2c2410;
}