<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模版引擎加载静态资源</title>
    <link rel="stylesheet" href="/assets/css/user.css">
</head>
<body>
    <section class="container">
        我是user页面，加载静态css
    </section>
    <form action="/user/doadd" method="post">
        <p></p>
        <input type="text" name="username" placeholder="请输入用户名" />
        <p></p>
        <input type="text" name="age" placeholder="请输入年龄" />
        <p></p>
        <input type="submit" value="提交" />
    </form>
</body>
</html>